.Slideshow {
    width: 100%;
    position: relative;
}

.indicator {
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 100%;
    margin-top: 0.5rem;
}

.indicatorTopAligned {
    bottom: unset;
    top: 1rem;
}

.dot {
    width: 5px;
    height: 5px;
    border-radius: 1rem;
    background: var(--primary-color);
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.dot[data-active="true"] {
    background: var(--primary-color);
    opacity: 1;
    width: 10px;
}

.CTA__active {
    transition: all 0.3s ease-out;
    /*background: white;*/
    /*color: black;*/
}
