.Slideshow {
    width: 100%;
    position: relative;
}



.indicator {
    display: flex;
    justify-content: center;
    gap: 5px;
    position: absolute;
    bottom: -1rem;
    width: 100%;
}

.indicatorTopAligned {
    bottom: unset;
    top: 1rem;
}

.dot {
    width: 5px;
    height: 5px;
    border-radius: 1rem;
    background: #BFBFBF;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.dot[data-active="true"] {
    background: white;
    width: 10px;
}

.CTA__active {
    transition: all 0.3s ease-out;
    background: white;
    color: black;
}
