.Grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    justify-content: center;
    justify-items: center;
    width: 100%;
}

.Tile {
    background-size: cover;
    width: 100%;
    height: 15vh;
    border-radius: 1rem;

    display: flex;
    align-items: flex-start;
    padding: 1rem;
    position: relative;
    font-weight: bold;
    color: white;
}

.Tile:before {
    content: '';
    background-size: contain;
    transform: rotate(180deg);
    width: 2rem;
    height: 2rem;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;
    background: white;
    border-radius: 50%;
}

.Tile:after {
    content: '';
    background-image: url("/icons/chevron-right.svg");
    background-size: contain;
    width: 2rem;
    height: 2rem;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;
}

.TileContentWrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
}

.SelectedMood[data-type="excited"],
.Tile[data-type="excited"] {
    background-image: url("/excited.png");
}

.SelectedMood[data-type="relaxed"],
.Tile[data-type="relaxed"] {
    background-image: url("/relaxed.png");
}

.SelectedMood[data-type="stressed"],
.Tile[data-type="stressed"] {
    background-image: url("/stressed.png");
}

.SelectedMood[data-type="tired"],
.Tile[data-type="tired"] {
    background-image: url("/tired.png");
}

.MoodSelectionWrapper {
    position: relative;
    height: 290px;
    width: 290px;
}

.SelectedMood {
    background-size: cover;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
    align-items: center;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
}

.ProgressBar {
    position: absolute;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    border-radius: 50%;
    outline: 10px solid #d9d9d9;
}

.Progress {
    width: 5px;
    height: 100%;
    background: var(--button-background-color);
    position: absolute;
    top: 0;
    left: 0;
}

.Mood {
    opacity: 0;
    z-index: -1;
}

.screenHeader {
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.screenHeader h2, .screenHeader p {
    margin: 0;
}

.icon {
    width: 2rem;
    height: 2rem;
    vertical-align: bottom;
}
