.Screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: white;
    gap: 1rem;
    padding: 2rem 0;
}

.active {
    display: flex;
}
