.Slide {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.Tag {
    background: var(--button-background-color);
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
}

.SlideContentWrapper {
    color: white;
    border: 10px solid var(--button-background-color);
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.SlideImage {
    width: 100%;
    height: 50vh;
    background-size: cover;
    transform: scale(1.1);
}

.SlideImage[data-type="delta"] {
    background: url("/images/MindSelection_Delta.png");
}

.SlideImage[data-type="theta"] {
    background: url("/images/MindSelection_Theta.png");
}

.SlideImage[data-type="beta"] {
    background: url("/images/MindSelection_Beta.png");
}

.SlideImage[data-type="alpha"] {
    background: url("/images/MindSelection_Alpha.png");
}

.SlideImage[data-type="gamma"] {
    background: url("/images/MindSelection_Gamma.png");
}


.SlideImageContainer:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
}

.SlideContent {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 2;
}

.SlideContent h3 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
}

.SlideContent h2 {
    margin: 0;
    font-size: 20px;
    font-weight: normal;
}

.SlideContent p {
    margin: 0;
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    width: 30%;
}

.SlideCTA {
    background: white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
