.BottomSheet {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 60vh;
    background: white;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: left;
    z-index: 1;

    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 24px 0px rgba(95, 115, 135, 0.40);
}

.BottomSheet[data-state="closed"] {
    transform: translateY(110%);
}

.Handle {
    width: 50px;
    height: 5px;
    background: var(--primary-color);
    border-radius: 1rem;
    cursor: pointer;
    margin: 5px auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
